/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@400;500;600;700;800&family=Xanh+Mono&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border: 0;
  /* font-family: 'Poppins', sans-serif; */
}

/*HEADER*/
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.header-main {
  background-image: url(/img/coffee.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header {
  background-image: url(/img/nav.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 75px;
}

.header-logo {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 25px;
  letter-spacing: 2px;
  border-bottom: 5px solid black;
  border-radius: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

ul {
  display: flex;
}

li {
  margin-left: 27px;
}

a {
  color: black;
  font-weight: bold;
  font-size: 15px;
  cursor: url("/img/coffee-bean.png"), auto;
}

#nav-home:hover, #nav-about:hover, #nav-discover:hover, #nav-contact:hover {
  color: #5b2a02;
  font-size: 20px;
  text-decoration: underline;
}

.header-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 8.5rem;
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #745b37;
}

.first-letter {
  font-size: 10.3rem;
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #745b37;
}

h3 {
  margin-bottom: 25px;
  font-size: 22px;
  margin-left: 15%;
}

.btn-coffee {
  display: block;
  background-color: #745b37;
  color: white;
  padding: 10px 15px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  overflow: hidden;
  cursor: url("/img/coffee-bean.png"), auto;
}

.btn-coffee::after {
  content: "BUY";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5b2a02;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.btn-coffee:hover::after {
  top: 0;
}

#menu-icon {
  font-size: 25px;
  display: none;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .header-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #3e1d03b0;
    width: 100%;
    overflow: hidden;
    transition: max-height .5s;
  }
  .header-menu ul li {
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }  
  .header-menu ul li a {
    color: white;
  }
  .header-menu #menu-icon {
    display: block;
  }
}

/*ABOUT*/
.about {
  margin-bottom: 150px;
}

.about-title {
  margin: 60px 0;
}

.about-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #5b2a02;
  font-size: 30px;
  font-weight: 600;
}

.about-title h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #5b2a02;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-img {
  width: 40%;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  width: 40%;
}

h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 60px;
  color: #745b37;
  font-family: "Herr Von Muellerhoff", cursive;
  letter-spacing: 0.5rem;
  font-weight: 100;
}

#asteriks {
  color: #745b37;
  margin-bottom: 25px;
  text-align: center;
}

.about-text p {
  font-size: 15px;
  text-align: center;
  color: #2c2727;
}

@media only screen and (max-width: 800px) {
  .about-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-text {
    width: 100%;
  }
}

/*PORTFOLIO*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 25%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #5b2a02;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0.8;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.portfolio-item:hover .overlay {
  top: 0;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  .portfolio .portfolio-item {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 580px) {
  .portfolio .portfolio-item {
    flex-basis: 100%;
  }
}


/*DISCOVER*/
.discover {
  margin-bottom: 75px;
}

.discover-title {
  margin: 60px 0;
}

.discover-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #5b2a02;
  font-size: 30px;
  font-weight: 600;
}

.discover-title h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #5b2a02;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.discover-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.discover-img {
  width: 40%;
}

.discover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discover-text {
  width: 40%;
}

h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 60px;
  color: #745b37;
  font-family: 'Herr Von Muellerhoff', cursive;
  letter-spacing: 0.5rem;
  font-weight: 100;
}

#asteriks {
  color: #745b37;
  margin-bottom: 25px;
  text-align: center;
  
}

.discover-text p{
  font-size: 15px;
  text-align: center;
  color: #2c2727;
}

@media only screen and (max-width: 990px) {
  .discover-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .discover-text {
    width: 100%;
  }
}

/*CONTACT*/
.contact {
  padding: 10px 0;
}

.contact-title {
  margin: 60px 0;
}

.contact-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #5b2a02;
  font-size: 30px;
  font-weight: 600;
}

.contact-title h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #5b2a02;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.contact-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.contact-item {
  display: flex;
  align-items: center;
  flex-basis: 33%;
  margin-bottom: 100px;
  flex-direction: column;
}

.contact-item i{
  font-size: 25px;
  margin-bottom: 30px;
  color: #5b2a02;
}

.contact-item p {
  font-size: 14px;
  line-height: 33px;
}

@media only screen and (max-width: 800px) {
  .contact-content {
    flex-direction: column;
  }
  .contact-item {
    margin: 30px;
  }
  .contact-item p {
    width: 100%;
    text-align: center;
  }
}

/*FOOTER*/
.footer {
  background: black;
}

.footer-title {
  margin: 60px 0;
}

.footer-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #5b2a02;
  font-size: 30px;
  font-weight: 600;
  padding: 55px 0;
}

.footer-title h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #5b2a02;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.footer-copyright {
  color: white;
  text-align: center;
  flex-basis: 55%;
  line-height: 2px;
  font-size: 13px;
  margin-bottom: 25px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-social i{
  color: white;
  margin-bottom: 50px;
  font-size: 25px;
  padding: 0 45px;
}

.footer-social:first-child {
  margin-left: 70px;
}



